/* Add screen styles below */
a.active {
    color: var(--mainLight);
}

:root {
    --primaryGreen: #3F6634;
    --secondaryGreen: #A8E597;
    --tertiaryGreen: #3F9926;
    --mainLight: #FFFCF9;
    --mainDark: #353531;
    --mainGrey: #A2AEBB;
    --greenSignifier: #06D6A0;
    --yellowSignifier: #FFD166;
    --redSignifier: #EF476F;
}

body {
    background-color: var(--mainLight);
    color: var(--mainDark);
}

header {
    background-color: var(--primaryGreen);
}

h1 {
    font-size: 64pt;
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 24pt;
}

h4 {
    font-size: 32pt;
}

label {
    font-size: 24pt;
    text-align: left;
    align-self: flex-start;
}

button {
    font-size: 24pt;
    background: var(--secondaryGreen);
    padding: 1em;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 3px var(--mainDark));
    font-weight: bold;
}

a.btn {
    font-size: 24pt;
    background: var(--secondaryGreen);
    padding: 1em;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 3px var(--mainDark));
    font-weight: bold;
}

li.btn {
    font-size: 24pt;
    background: var(--secondaryGreen);
    border-radius: 20px;
    padding: 0 3%;
    margin: 2%;
    filter: drop-shadow(2px 2px 3px var(--mainDark));
    font-weight: bold;
}

li.btn:hover {
    background-color: var(--greenSignifier);
    border: 2px solid var(--mainLight);
    transition: .2s ease-in;
}

button:hover {
    background-color: var(--greenSignifier);
    border: 2px solid var(--mainLight);
    transition: .2s ease-in;
 }

 li.btn:active {
    background-color: var(--tertiaryGreen);
 }

input {
    border: 1px solid var(--mainDark);
    border-radius: 10px;
    font-size: 32pt;
}

textarea {
    border: 1px solid var(--mainDark);
    border-radius: 10px;
    font-size: 32pt;
}

svg.externalSite:hover {
    fill: var(--primaryGreen);
    transition: .2s;
    margin: 0 5%;
}

.cardText {
    background-color: var(--secondaryGreen);
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    text-align: center;
}

dialog {
    border-radius: 20px;
    background-color: var(--mainGrey);
    justify-content: end;
    margin: auto auto;
    align-items: end;
    text-align: center;
    max-width: 20%;
    transition: none;
    padding: 1%;
    font-weight: bold;   
}

#close-modal {
    transition: none;
    width: 25px;
}
